body {
    font-family: sans-serif;
}

header {
      
      background-color: lightblue ;
      padding: 5px;
}

h1{
    text-align: center;
    color: blue;
}

footer p{
       border: 2px solid gray;
       padding: 5px;
}  

.pitard{
    border: 2px solid blue;
    border-radius: 15px;
    padding: 10px;
}

main {
  padding: 20px;
}

main h2{
    padding: 20px;
    color: navy;
}

.but {
    text-decoration: none;
    border: 1px solid navy;
    padding: 5px; 
}



